---
import { Image } from 'astro:assets';
import halvcirkel from "../assets/images/halvcirkel.svg";
import Circle from './Circle.astro';
---
<div class="mt-[100px] lg:mt-[200px]">
    <a href="#top" class="cursor-pointer container ">
        
            <div class="cursor-pointer "> <Image  src={halvcirkel} alt="knap"></Image></div>
            <h2 class="cursor-pointer text-center font-light text-2xl lg:text-6xl">Tilbage <br> til toppen</h2>
       <Circle></Circle>
    </a>
</div>

<style>
    div  .container{
        display: grid;
        place-items: center;
    }
    div  .container div, div .container h2{
        grid-area: 1/1;
    }

    @media (max-width: 1000px) {
        div  .container div{
            width: 220px;
        }
    }
</style>
  