---
import { Image } from 'astro:assets';
import zonder_o from "../assets/images/zonder_o.svg";
import zonder_o3 from "../assets/images/zonder_o3.svg";
---
<div id="top" class="background relative ">
   <div> <Image  src={zonder_o3} alt="Zonder"></Image></div>
<div class="flex flex-row-reverse">
       <p class=" absolute text-right mr-6 lg:w-[697px] lg:h-[159px] text-sm lg:text-2xl leading-[2.5rem]"> (noun) a modular typeface capturing the realization that each passerby lives a life as vivid and complex as our own, woven with elegant contrasts and organic flow to reflect the layered stories within us all.</p>
    
</div></div>

<!-- <style>
    .background{
        background: linear-gradient(180deg, rgba(240, 85, 41, 0.53) 0%, rgba(152, 127, 1, 0.00) 100%);
    }
</style> -->
